h1 {
  color: cornflowerblue;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

table {
  text-align: center;
}

td.selected {
  background-color: #eee;
  color: darkgray;
}

.monitor td.selected {
  background-color: coral;
  color: white;
}

.marker {
  background-color: coral;
  border-radius: 50%;
  display: block;
  height: 30px;
  opacity: 0.7;
  width: 30px;
}
